body{
    margin: 0 auto;
    padding: auto;
    font-family: 'Montserrat' , sans-serif;
}
section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
   
}
div.frase{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
  height: 100vh;
  background-color: rgb(12, 98, 227);
 color: aliceblue;
 font-size: xx-large;
}
div.cadastro{
    display: flex;
    align-items: center;
    align-content: center;
 
    width: 50%;
    height: 100vh;
   background-color: whitesmoke;
   font-size: large;
  
}
